[Desktop Entry]
Categories=Development;Utility;
Comment=Clauge Việt — Công cụ lập trình của người Việt, Local-first, Privacy-first, miễn phí mãi mãi
Exec={{exec}} %u
StartupWMClass={{exec}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
MimeType=x-scheme-handler/clauge
